# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# VSCode
.vscode/

# Data
data/train.txt
data/val.txt
data/input.txt
wiki_fr.txt

# Checkpoints
param/
*.pt

# Logs
runs/
output.txt

# Tokenizer (optionnel - commenter si tu veux le versionner)
# tokenizer.json